body {
    width: 1350px;
    height: 660px;
    background-image: url(img/Pizarra1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 1370px 700px;
    background-repeat: no-repeat;
}

/*contenedor de tiutlo + logo*/
.container {
    width: 1365px;
    height: 250px;
}

/*div horca*/
.logoHorca {
    background: transparent;
    position: absolute;
    left: 50px;
    top: 5px;
    height: 250px;
    width: 230px;
    padding-top: 2px;
    filter: brightness(70%);
}

/*logo alura*/
.logo {
    max-width: fit-content;
    filter: contrast(100%);
}

/*div logo Alura*/
.logoAlura {
    position: absolute;
    width: 75px;
    height: 85px;
    padding-left: 10px;
    padding-top: 5px;
    background-color: transparent;
    left: 190px;
    top: 150px;
    -webkit-transform: rotate(30deg)
}

/*imagen de horca*/
.horca {
    position: absolute;
    width: 100%;
    height: 95%;
}

/*titulo*/
.tituloJuego {
    position: relative;
    left: 300px;
    top: 70px;
    padding-top: 20px;
    padding-left: 45px;
    width: 900px;
    height: 80px;
}

/* seccion botones*/
.SeccionInicio {
    position: relative;
    width: 350px;
    height: 300px;
    top: 50px;
    left: 500px;
}

/*boton inicio*/
.botonInicio {
    position: relative;
    width: 300px;
    height: 100px;
    border-radius: 15px;
    letter-spacing: 1px;
    font-size: 20px;
    border: none;
    color: ivory;
    background-color: darkgreen;
    align-items: center;
    left: 20px;
    top: 5px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 15px #999;
}

.botonInicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkgreen;
    z-index: -1;
    border-radius: 24px;
    transform: translateY(5px);
}

.botonInicio:active {
    font-size: x-large;
    color: ivory;
    transform: translateY(5px);
    box-shadow: 0 8px #666;
}

/*boton nueva palabra*/
.botonNuevaPalabra {
    position: absolute;
    width: 300px;
    height: 70px;
    border-radius: 35px;
    letter-spacing: 1px;
    font-size: 20px;
    border: solid 1px ivory;
    color: ivory;
    background-color: darkgreen;
    align-items: center;
    left: 20px;
    top: 170px;
    cursor: pointer;
}

.botonNuevaPalabra:hover {
    background-color: var(--blue);
    color: ivory;
    border: solid ivory;
}

.botonNuevaPalabra:active {
    color: ivory;
    border-color: ivory;
    box-shadow: inset 0 0 20px var(--white);
}

/*iconos sociales*/
.iconsSocial {
    width: 60px;
    height: 300px;
    background-color: transparent;
    position: fixed;
    right: 0;
    top: 40%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

/*fondo inconos*/
.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-github {
    background: black;
}

.icon-instagram {
    background: #e4405f;
}

.icon-gorjeo {
    background: #1da1f2;
}

.icon-linkedin {
    background: #0077b5;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/*pie de pagina */
.footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 40px;
    width: 1365px;
    height: 40px;
    color: white;
    background-color: transparent;
}

.footer a{
    position: absolute;
    color: white;
    right: 200px;
}

/* texto pie de pagina*/
h2 {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}



